{% extends "admin/structure/base.html.twig" %}

{% block contenido %}


    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{{ translate.clients|capitalize }}</span> - {{ translate.add|capitalize }}  {{ translate.client }}</h4>
            </div>

            <div class="heading-elements">
                <div class="heading-btn-group">
                    <a href="{{ base }}admin/client" class="btn btn-success btn-labeled btn-xs"><b><i class="icon-list"></i></b> {{ translate.list|capitalize }} {{ translate.of }} {{ translate.clients }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /page header -->

    <!-- Content area -->
    <div class="content">

        <!-- Basic datatable -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">{{ translate.new_register }}</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <br>

                <form class="formNormal" id="{{ base }}admin/client/save" action="#" method="post">

                    <p class="text-semibold text-main"><i class="fa fa-vcard-o"></i> Datos personales</p>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Nombre(s)</label>
                                <input type="text" name="name" placeholder="Nombres completos" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">ApellidoS</label>
                                <input type="text" name="lastname" placeholder="Primer apellido" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Correo electronico</label>
                                <input type="email" name="email"   placeholder="user@mail.com" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Telefono</label>
                                <input type="text" name="phone"  value="" placeholder="0123456789" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Direccion</label>
                                <input type="text" name="address"   value="" placeholder="Direccion fiscal" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Ciudad</label>
                                <input type="text" name="city"   value="" placeholder="Direccion fiscal" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Pais</label>
                                <input type="text" name="country"   value="" placeholder="Direccion fiscal" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">C.P</label>
                                <input type="text" name="cp"   value="" placeholder="Direccion fiscal" class="form-control">
                            </div>
                        </div>

                    </div>
                    <p class="text-semibold text-main"><i class="fa fa-user"></i> Datos de usuario</p>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Nombre de usuario</label>
                                <input type="text"  name="id_user"  class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Contraseña</label>
                                <input type="password" name="password"  placeholder="*****" class="form-control" required>
                            </div>
                        </div>
                    </div>



                    <div class="text-right">
                        <button type="reset" class="btn btn-default" id="reset">Limpiar <i
                                    class="icon-reload-alt position-right"></i></button>
                        <button type="submit" class="btn btn-primary">Añadir <i
                                    class="icon-arrow-right14 position-right"></i></button>
                    </div>
            </div>
        </div>
        </form>

    </div>
    </div>
    <!--END ASIDE-->





{% endblock %}