
<!-- Topbar-->
<div class="topbar">
    <div class="topbar-column"><a class="hidden-md-down" href="mailto:{{ ws_info.ws_mail_contact }}"><i
                    class="icon-mail"></i>&nbsp; {{ ws_info.ws_mail_contact }}</a><a class="hidden-md-down" href="tel:{{ ws_info.ws_phone }}"><i class="icon-bell"></i>&nbsp; {{ ws_info.ws_phone }}</a>

        <a class="social-button sb-facebook shape-none sb-dark" href="{{ ws_info.ws_facebook }}" target="_blank"><i class="socicon-facebook"></i></a>
        <a class="social-button sb-twitter shape-none sb-dark" href="{{ ws_info.ws_twitter }}" target="_blank"><i class="socicon-twitter"></i></a>
        <a class="social-button sb-instagram shape-none sb-dark" href="{{ ws_info.ws_instagram }}" target="_blank"><i class="socicon-instagram"></i></a>
        <a class="social-button sb-pinterest shape-none sb-dark" href="{{ ws_info.ws_googlemas }}" target="_blank"><i class="socicon-pinterest"></i></a>
    </div>
    <div class="topbar-column"><a class="hidden-md-down" href="#"><i class="icon-download"></i>&nbsp; Obtener aplicacion</a>
    </div>
</div>