{% extends "admin/structure/base.html.twig" %}

{% block contenido %}

    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{{ translate.users|capitalize }}</span> - {{ translate.edit|capitalize }}  {{ translate.user }}</h4>
            </div>

            <div class="heading-elements">
                <div class="heading-btn-group">
                    <a href="{{ base }}admin/user" class="btn btn-success btn-labeled btn-xs"><b><i class="icon-list"></i></b> {{ translate.list|capitalize }} {{ translate.of }} {{ translate.users }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /page header -->


    <!-- Content area -->
    <div class="content">

        <!-- Basic datatable -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">{{ translate.edit_register }}</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                        <br>

                        <form class="formNormal" id="{{ base }}admin/user/update" action="#" method="post">


                        <p class="text-semibold text-main"><i class="fa fa-vcard-o"></i> Datos personales</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Nombre(s)</label>
                                    <input type="text" name="name" value="{{ data.name }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Apellido materno</label>
                                    <input type="text" name="lastname"  value="{{ data.lastname }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Apellido paterno</label>
                                    <input type="text" name="firstname"  value="{{ data.firstname }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Correo electronico</label>
                                    <input type="email" name="email"  value="{{ data.email }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Telefono</label>
                                    <input type="text" name="phone"  value="{{ data.phone }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Direccion</label>
                                    <input type="text" name="address"   value="{{ data.address }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <p class="text-semibold text-main"><i class="fa fa-user"></i> Datos de usuario</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre de usuario</label>
                                    <input type="text"   disabled value="{{ data.id_user }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Contraseña</label>
                                    <input type="password" name="password"  placeholder="Si desea cambiar la contraseña escriba algo" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Rol de usuario</label>
                                    <select name="id_rol" class="form-control" required>
                                        <option value="">Selecciona una opcion</option>
                                        {% for rol in rols %}
                                            <option value="{{ rol.id_rol }}" {% if (data.id_rol == rol.id_rol) %} selected {% endif %} {% if data.id_rol == "MASTER" %} disabled {% endif %}> {{ rol.id_rol }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="id_user" value="{{ data.id_user }}">

                        <div class="text-right">
                            <button type="reset" class="btn btn-default" id="reset">Limpiar <i
                                        class="icon-reload-alt position-right"></i></button>
                            <button type="submit" class="btn btn-primary">Guardar <i
                                        class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!--END ASIDE-->





{% endblock %}